.forgotpassword {
    margin: 10rem 0rem;
    height: 80vh;
    display: flex;
    justify-content: space-around;
}

.forgotpassword__illustration {
    margin-top: 15rem;
    height: 60%;
    width: 100%;
}

.forgotpassword__container {
    display: flex;
    flex-direction: column;
    width: 45rem;
}

.forgotpassword__heading {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
}

.forgotpassword__heading__title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 6rem;
}

.forgotpassword__heading__subtitle {
    font-size: 2rem;
    color: var(--primary-color);
}

.forgotpassword__form__container {
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f1f5f9;
    border: 3px solid var(--border-color);
}

.email__container {
    margin: 2rem 0rem;
}

.forgotpassword__button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.forgotpassword__btn {
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    background-color: var(--primary-color);
    color: white;
}

.forgotpassword__btn:hover {
    background-color: rgb(242 134 39 / 79%);
}

.forgot__password {
    text-align: center;
    margin: 1rem 0rem;
}

.redirect__signup {
    text-align: center;
    margin-top: 2rem;
}

.link__txt {
    font-size: 1.3rem;
    color: var(--secondary-color);
}
